<div class="container">
  <div class="row content align-items-center d-flex justify-content-center">
    <div class="col-md-5 mb-3" style="text-align: center !important">
      <img
        src="assets/bg.png"
        class="img-fluid"
        alt="image"
        style="height: 300px; width: auto"
      />
    </div>
    <div class="col-md-7">
      <img
        src="assets/logo_mile.png"
        class="img-fluid"
        alt="image"
        style="height: 80px; width: auto; margin-bottom: 20px"
      />
      <p class="info">Your one stop platform to manage all of your field service management</p>

      <form>
        <div class="form-group" style="padding-top: 50px">
          <input
            type="text"
            name="name"
            placeholder="Enter your organization's name"
            class="form-control"
          />
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            name="checkbox"
            class="form-check-input"
            id="checkbox"
          />
          <label class="form-check-label" for="checkbox">Remember Me</label>
        </div>
        <button class="btn btn-class">Login</button>
      </form>
    </div>
  </div>
  <div style="text-align: center; color: #00000046 ">
    <p>made with ❤ in Indonesia</p>
  </div>
</div>